*ILMerge.exe
*LaunchSET.ini
*eve.exe
*start.ini
*common.ini
*WebLogger.EVE.Ver1 - 副本 - 副本.sln
*WebLogger.EVE.Ver1 - 副本 - 副本.suo
*WebLogger.EVE.Ver1 - 副本 - 副本.v12.suo
*WebLogger.EVE.Ver1 - 副本.sln
*WebLogger.EVE.Ver1 - 副本.suo
*WebLogger.EVE.Ver1.v11.suo
*WebLogger.EVE.Ver1.v12.suo
*Setup
*.pdb
*.rar
packages/*
